*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  background-color: #0a0a0a;
  color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}

.App{
   min-height: 100vh;
   overflow: hidden;
}
::-webkit-scrollbar{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #0a0a0a;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(130deg, #64c8ff, #00ff88);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(135deg, #ffffff, #64c8ff);
}


/*Animation*/

@keyframes fadeInDown{
  from{
    opacity: 0;
    transform: translateY(-30px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideInLeft{
  from{
    opacity: 0;
    transform: translateX(-50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes slideInRight{
  from{
    opacity: 0;
    transform: translateX(50px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInUp{
    from{
    opacity: 0;
    transform: translateX(30px);
  }
  to{
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes scaleUp{
    from{
    opacity: 0;
    transform: scale(0.9);
  }
  to{
    opacity: 1;
    transform: scale(0px);
  }
}

/*Utility Classes*/

.section-title{
  font-size: 3rem;
  font-weight: 800;
  font-style: italic;
  color: #FFF;
  margin-bottom: 10px;
}

.section-title span{
  background:linear-gradient(135deg, #64c8ff, #00ff88);
    -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.title-underline{
  width: 80px;
  height: 4px;
    background:linear-gradient(135deg, #64c8ff, #00ff88);
  margin: 0;
  border-radius: 2px;
}

@media(max-width: 1200px){
  .sectionn-title{
    font-size: 2.5rem;
  }
}
@media(max-width: 768px){
  .sectionn-title{
    font-size: 2rem;
  }
  body{
    font-size: 14px;
  }
}


/*Globale color */
:root {
  --primary: #64c8ff;
  --secondary: #00ff88;
  --dark: #0a0a0a;
  --dark-light: #1a1a2e;
  --text-primary: #ffffff;
  --text-secondary: #b0b0b0;
}